<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/approve}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
		<div th:each="scope : ${rscope}">
			<input name="scope"
				type="checkbox"
				th:value="${scope}"
				checked="checked"
			/>
			<span th:text="${scope}">
				SCOPE
			</span>
			<br/>
		</div>
        <button type="submit">Login</button>
    </form>
</body>
</html>